.h1-nosotros {
	margin-top: 30px;
	font-size: 40px;
	color: #ae0001;
}

.h2-nosotros {
	font-size: 27px;
    font-weight: bold;
}

.texto-justificado {
	color: #818386;
	text-align: justify;
}

.separa-hruler
{
	margin-bottom: 5%;
}

.to-right
{
	text-align: right;
}

.separa-img
{
	margin-bottom: 3%;
}

.separa-fondo
{
	margin-bottom: 12%;
}

body {
	font-family: 'Quicksand', sans-serif;
}

.container {
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}

a:hover {
	text-decoration: none;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.imagen-centrada {
	margin: 0px auto;
}