body {
	font-family: 'Quicksand', sans-serif;
}

.container {
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}

a:hover {
	text-decoration: none;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.imagen-centrada {
	margin: 0px auto;
}

/*Menu principal */

.logo {
	padding: 10px;
	margin-bottom: 0px;
}

.navbar { 
	margin-bottom: 0px ; /*Eliminar separación entre el navbar y el carrusel*/
	-webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	-moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
	box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}

.form-menu {
    text-align: center;
    margin-top: 40px;    
}

.combo-menu {
	height: 50px;
	margin-bottom: 5px;
	margin-right: 5px;
	font-size: large;
	background-color: #eeba30;
	color: white;
	border-radius: 25px;
}

.boton-menu {
	height: 50px;
	margin-bottom: 5px;
	font-size: large;
	background-color: #ae0001;
	color: white;
	border-radius: 25px;
}

/* Info pelicula */

/* Footer */

.row-footer {
	padding-bottom: 5%;
	background-color: #333333;
}

.h3-footer {
	color: #eeeeee;
}

.a-footer {
	color: #eeba30;
	display: block;
}

.a-footer:hover {
	color: #d3a625;
}

.a-footer:active {
    color: #eeba30;
}	

.div-footer {
	padding-left: 10%;
}

.icon-redes-footer {
	padding: 0px;
	margin: 0px auto;
	display: inline-block;
}

.texto-footer{
	text-align: center;
}