.h1-contacto {
	margin-top: 30px;
	font-size: 40px;
	color: #ae0001;
}

.h4-contacto {
	color: #666666;
	margin-bottom: 50px;
}

.btn-enviar-letra
{
	font-weight: bold;
}

.separa-form
{
	margin-bottom: 15%;
}

.separa-hruler
{
	margin-bottom: 5%;
}

body {
	font-family: 'Quicksand', sans-serif;
}

.container {
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}

a:hover {
	text-decoration: none;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.imagen-centrada {
	margin: 0px auto;
}