body {
	font-family: 'Quicksand', sans-serif;
}

.container {
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}

a:hover {
	text-decoration: none;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.imagen-centrada {
	margin: 0px auto;
}

/*Listado*/

.h1-listado {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 40px;
	color: #ae0001;
}

.div-elemento {
	padding: 10px;
	margin-bottom: 75px;
}

/*Elemento listado*/

.h2-titulo {
	color: #333333;
}

.h2-titulo:hover {
	color: #740001;
}


.h4-clasificacion-duracion {
	font-size: 18px;
}

.h3-horarios {
	font-size: 18px;
	color: black;
	font-weight: bold;
}

.h5-hora {
	display: inline-block;
	background: #cc0607;
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.h5-hora:hover {
	background: #ae0001;
}